name: Build Windows

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Configure and Build
      shell: cmd
      run: build.bat
      
    - name: Install Inno Setup
      shell: cmd
      run: |
        choco install innosetup
        echo "C:\Program Files (x86)\Inno Setup 6" >> $GITHUB_PATH
        
    - name: Build Installer
      shell: cmd
      run: iscc setup.iss
      
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: EA_V-CORE-Windows-Installer
        path: |
          Output/EA V-CORE Installer Win.exe
        if-no-files-found: warn
